#WELLCOME Dataset
##1) Determine the five most common journals and the total articles for each. 
##2) Calculate the mean, median, and standard deviation of the open-access cost per article for each journal

In [1]:
import numpy as np
import pandas as pd
import scipy.stats
import matplotlib.pyplot as plt
import seaborn as sns
%matplotlib inline

In [4]:
df =pd.read_csv('WELLCOME_APCspend2013_forThinkful (1).csv' , encoding= 'unicode_escape')
df.head()

,PMID/PMCID,Publisher,Journal title,Article title,COST (£) charged to Wellcome (inc VAT when charged)
0,NaN,CUP,Psychological Medicine,Reduced parahippocampal cortical thickness in ...,£0.00
1,PMC3679557,ACS,Biomacromolecules,Structural characterization of a Model Gram-ne...,£2381.04
2,23043264 PMC3506128,ACS,J Med Chem,"Fumaroylamino-4,5-epoxymorphinans and related ...",£642.56
3,23438330 PMC3646402,ACS,J Med Chem,Orvinols with mixed kappa/mu opioid receptor a...,£669.64
4,23438216 PMC3601604,ACS,J Org Chem,Regioselective opening of myo-inositol orthoes...,£685.88

In [28]:
# work w/column to strip foreign character
cost_string = "COST (£) charged to Wellcome (inc VAT when charged)"
temporarycost =  cost_string.replace('£', '')
print(temporarycost)

COST () charged to Wellcome (inc VAT when charged)

In [26]:
len(df)

51

In [29]:
len(df['Journal title'].unique())

TypeError: string indices must be integers

In [7]:
len(df['Article title'].unique())

2126

In [11]:
journals= df['Journal title'] 
journals.value_counts()

PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19
                                                   ..
Alcohol and Alcoholism                              1
BIOLOGICAL CHEMISTRY                                1
Biinformatics                                       1
Learning and Individual Differences                 1
ACS Chemical Neuroscience                           1
Name: Journal title, Length: 984, dtype: int64

##Five Most Common Journals and number of articles each:
PLoS One                                           92
PLoS ONE                                           62
Journal of Biological Chemistry                    48
Nucleic Acids Research                             21
Proceedings of the National Academy of Sciences    19

In [12]:
# work w/column to strip foreign character
cost_string = "COST (£) charged to Wellcome (inc VAT when charged)"
temporarycost =  cost_string.replace('£', '')
print(temporarycost)

COST () charged to Wellcome (inc VAT when charged)

##2) Calculate the mean, median, and standard deviation of the open-access cost per article for each journal

In [33]:
#Example of MEAN:   df.groupby(['ms', 'mass amu'])['SEM c/s'].mean()
df.groupby(['Journal title'])['temporarycost'].mean()

AttributeError: 'str' object has no attribute 'groupby'

In [30]:
sum(df['temporarycost'].isnull())

TypeError: string indices must be integers

In [18]:
#Draw Boxplot after import seaborn as sns
#sns.set(style="whitegrid")
#tips = sns.load_dataset("tips")
#ax = sns.boxplot(x=tips["total_bill"])

#sns.set(style="whitegrid")
#temporarycost = sns.load_dataset("df")
#ax = sns.boxplot(x=temporarycost["temporarycost"])

sns.boxplot(x='temporarycost',data=df,palette='rainbow')

#Doesn't look like anything is out of range. Do I need to find SDs?

TypeError: string indices must be integers